/***********************/
/**** BLOG-specific ****/
/***********************/

/* disable badge styles */
img[alt="badge"] {
    display: unset;
    margin: unset;
    border-radius: unset;
  }

/* enable pre-block scrolling */
pre.highlight {
    overflow-x: auto;
    white-space: pre;
}

/* splash image style */
img[alt="splash"] { width: 100%; }
@media (min-width: 48em) {
    img[alt="splash"] { width: 80%; }
}

/* center all post images */
.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* support .small post images */
.post img.small { width: 60%; }
@media (min-width: 48em) {
    .post img.small { width: 40%; }
}

li {
    margin-bottom: .6rem;
}

/* main logo */
.sidebar img {
    border-radius: 0px;
    display: inline;
}

.reading-time {
    color: limegreen;
}

.sidebar-footer {
    text-align: center;
    font-size: small;
}

@media (min-width: 48em) {
    .sidebar-footer {
        text-align: left;
    }
}

.sidebar-footer a {
    color: silver;
    margin-top: .3rem;
}

.sidebar-footer a:hover {
    color: white;
}

.sidebar-footer a svg {
    width: .7rem;
    margin-left: .4rem;
}

.sidebar-footer a svg path {
    fill: #49a4ef;
}

/***********************/
/* Overwrite POOLE.CSS */
/***********************/

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
    color: #378bba; /* #268bd2 */
    /* text-decoration: none; */
}
/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

 .lead {
    font-size: 1.1rem; /* 1.25rem */
    /* font-weight: 300; */
 }

 @media (max-width: 48em) {
     .lead {
         text-transform: lowercase
     }
     .lead::before {
        content: "¬\a0";
        font-size: .6rem;
        font-weight: bold;
        vertical-align: middle;
     }

p.lead {}
     .lead::after {
        content: "\a0⌐";
        font-size: .6rem;
        font-weight: bold;
        vertical-align: middle;
     }
 }
 
 .pagination {
     font-family: inherit;
 }

 .post-date {
     display: unset;
 }


/**********************/
/* Overwrite HYDE.CSS */
/**********************/

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */
html {
    font-family:
        Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace, Menlo;
  }

/* About section */
.sidebar-about h1 {
    /* margin-top: 0;*/
    font-weight: normal;
    /* font-family: arial, helvetica, sans-serif; */
    font-size: 1.5rem;
    word-spacing: -.2rem;
    white-space: nowrap;
}

img + em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: smaller;
}

/*************************/
/* 🎄 MERRY CHRISTMAS 🎄 */
/* http://bit.ly/33U8QXY */
/*************************/

.glow {
    color: Lime;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #c00,
        0 0 4px #f60,
        0 0 5px #474,
        0 0 6px #e07,
        0 0 7px #06F;
    }
    100% {
        text-shadow:
            0 0 2px #fff,
            0 0 3px #c30,
            0 0 4px #c22,
            0 0 5px #fc8,
            0 0 6px #0a5,
            0 0 7px #f4a,
            0 0 8px #09f;
    }
}