<div class="sidebar">
  <div class="container sidebar-sticky">
    <pre style="
      background-color: transparent;
      font-size: .5rem;
      text-align: left;
      padding: 0;
      display: inline-block;
            
      display: none;">
         ༶･･ ᗰદ૨૨y  ᘓમ૨ıડτന੨ડ ･･༶

                    F#
                    /\
          F#       /|>\       F#
          /\      / |> \      /\
         />=\     /"%A"\     /&gt;&gt;\
        /"%d"\   /()->`a\   /"%i"\
~~~~~~~~~ [] ~~~ ``[||]`` ~~~ [] ~~~~~~~~~
~~~~~~~~~~~~~~~~~~~[||]~~~~~~~~~~~~~~~~~~~  
      </pre>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title | replace: " ", "" }}
        </a>
      </h1>                          
      <p class="lead">{{ site.intro }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.author.url }}">Twitter</a>
    </nav>
    
    <a href="https://github.com/lfr/FSharp.ValidationBlocks/" target="_blank">
      <img src="https://img.shields.io/badge/GitHub-FSharp.ValidationBlocks-325066?logo=github&logoColor=black" alt="badge" title="Discover my F# library">
    </a>
  </div>
</div>